button{
    padding:10px 30px;
    border-radius: 8px !important;
    color: white !important;
    border: none !important;
    background: #00a0d2 !important;
    transition: 0.5s !important;
}
button:hover{
    background: #0c88b4 !important;
    font-weight: bold !important;
}
body {
    background: rgba(154, 198, 218, 0.284);
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
}
ul li{
    display: inline;
    list-style-type: none !important;
    margin: 0 20px;
}
.footer{
    flex:1;
    background: darkgray;
    padding:50px 10px;
    margin-top: 200px;
    color:white;
}
/*table{*/
/*    border: none !important;*/
/*    border-collapse: unset !important;*/
/*    border-radius: 10px;*/
/*    padding : 30px !important;*/
/*    margin : 30px auto;*/
/*    max-width: 95% ;*/
/*    background: rgba(255, 255, 255, 0.9);*/
/*    text-align: center;*/
/*    box-shadow: 0 0 10px  #00000055;*/
/*}*/
/*table td{*/
/*    border: none !important;*/
/*    padding: 10px 20px !important;*/
/*}*/

/*table tr:nth-child(even) {*/
/*    background: #CCCCCC88;*/
/*}*/